/* Login.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Full page background */
.login-page {
  min-height: 100vh;
  background-image: url("../assets/bgimage5.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login box */
.login-box {
  background: rgba(255, 255, 255, 0.92);
  padding: 30px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #2a2f36;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.login-box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  font-size: 15px;
}

.login-box input:focus {
  outline: none;
  border-color: #4cd137;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #4cd137;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #44bd32;
}

.error-text {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
